{% extends "base.html" %}

{% block content %}
<h2>Nova Disciplina</h2>

<form method="POST">
    <label>Nome da disciplina:</label><br>
    <input type="text" name="nome" placeholder="Ex: Cálculo I" required>
    <br><br>

    <label>Código da disciplina:</label><br>
    <input type="text" name="codigo" placeholder="Ex: MAT001" required>
    <br><br>

    <label>Professor responsável:</label><br>
    <select name="professor_id" required>
        <option value="">Selecione</option>

        {% for professor in professores %}
            <option value="{{ professor.id }}">
                {{ professor.nome }} - {{ professor.email }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    <button type="submit">Cadastrar disciplina</button>
</form>
{% endblock %}